*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}


.header{
    background-color: #F0EDCF;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 50px;
    width: auto;
}

.header .items{
    list-style: none;
    margin: 0;
}

.header .items li{
    display: inline-block;
    padding: 0 10px;
}


.header .items a{
    font-size: 20px;
    color: #0B60B0;
    text-decoration: none;
}

.header .items li a:hover{
    color: #61899e;
}

.container{
    
    display: flex;
    flex-wrap:wrap;
    margin: 10px;
}
.container .card{
    flex-grow: 1;
    flex-basis: 200;
    width: 300px;
    height: 300px;
    margin: 1px;
    background: url(/img/img.jpg);
}
.seperator{
    margin-bottom: 30px;
    width:35px;
    height:3px;
    background:#777;
    border:none;
  }


.container .card{
    align-items:start;
}

.footer{
    background-color: #F0EDCF;
    display:flex;
    justify-content:space-between;
    align-items:start;
    height: 50px;
    padding: 5px 10%;
}

.footer .links{
    display:inline;
    padding: 0 10px;
}



